.main{
    height: 600px;
    width: 500px;
    background-color: rgba(217, 35, 62, 0.95);
    border: none;
    ;

}
.result{
    height: 120px;
    width: 450px;
    position: absolute;
    top: 20px;
    left: 450px;
    background-color: rgba(255, 255, 255, 0.91);
    color: rgb(1, 1, 30);
    font-size: 50px;
    text-align: right;
    border: none;
}

.one{
    position: absolute;
    top: 220px;
    height: 60px;
    width: 80px;
    left: 500px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    border: none;
}
.two{
    position: absolute;
    top: 220px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 600px;
    border: none;}
.three{
    position: absolute;
    top: 220px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 700px;
    border: none;}
.shalsh{
    position: absolute;
    top: 220px;
    height: 60px;
    width: 80px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    left: 800px;
    border: none;}

.four{
    position: absolute;
    top: 320px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 500px ;
    border: none;
}
.five{
    position: absolute;
    top: 320px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 600px;
    border: none;}
.six{
    position: absolute;
    top: 320px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 700px;
    border: none;
}
.multi{
    position: absolute;
    top: 320px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 800px;
    border: none;
}
.seven{
    position: absolute;
    top: 420px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 500px;
    border: none;
}
.eight{
    position: absolute;
    top: 420px;
    height: 60px;
    width: 80px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    left: 600px;
    border: none;}
.nine{
    position: absolute;
    top: 420px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 700px;
    border: none;}
.add{
    position: absolute;
    top: 420px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 800px;
    border: none;
}
.zero{
    position: absolute;
    top: 520px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 500px;
    border: none;
}
.point{
    position: absolute;
    top: 520px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 600px;
    border: none;}
.del{
    position: absolute;
    top: 520px;
    height: 60px;
    background-color: rgb(1, 1, 30);
    color: rgba(232, 222, 225, 0.95);
    font-size: 20px;
    width: 80px;
    left: 700px;
    border: none;}
.sub{
    position: absolute;
    top: 520px;
    height: 60px;
    background-color: rgba(232, 222, 225, 0.95);
    color: rgba(143, 4, 25, 0.95);
    font-size: 20px;
    width: 80px;
    left: 800px;
    border: none;
}
.equal{
    position: absolute;
    top: 150px;
    height: 50px;
    width: 300px;
    left: 600px;
    background-color: rgba(238, 137, 171, 0.98);
    color: white;
    font-size: 30px;
    border: none;
}
.c {
    position: absolute;
    top: 150px;
    height: 50px;
    width: 100px;
    left: 500px;
    background-color: rgb(1, 1, 30);
    color: white;
    font-size: 20px;
    border: none;
}
@media (min-width:300px) and (max-width:1000px){
    .main{
        height: 300px;
        width: 100px;
    }

}